.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
out/**
node_modules/**
.gitignore
.eslintrc.cjs
eslint.config.mjs
.prettierrc.json
.github/**
esbuild.js
tsconfig.json
tsconfig.test.json
scripts/**
icon-source.png
**/*.map
**/.DS_Store
**/Thumbs.db
**/*.vsix
screenshots/**
.editorconfig
.cursor/**
